Flask==3.0.3
flask-cors==4.0.1
flask-limiter==3.7.0
flask-sqlalchemy==3.1.1
flask-jwt-extended==4.6.0
python-dotenv==1.0.1
gTTS==2.5.1
edge-tts
gunicorn==22.0.0
redis==5.0.8
pypdf==4.2.0
python-docx==1.1.2
